@font-face {
	font-family: 'audimat'; 
	src: url('audimat-regular.woff') format('woff'),
		 url('audimat-regular.otf') format('opentype'),
		 url('audimat-regular.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal;
	
}

* {
margin:0;
padding:0;
}
html {
height:100%;
overflow-x:hidden;
/*cursor: url('../imgs/kanye.cur'), auto; */
}
#lol{
	
	height: 200px; 
	width: 30%; 
	z-index: 900000999999;
	
	position:absolute; 
	right: 10%; 
	bottom: 0; 
}
#lol:hover{
	cursor: pointer; 
}
body {
height:100%;
background:white;
font-family: loveloblack; 
}

#wrap {
width:700%;
overflow:hidden;
height: 100%; 
clear:both;
z-index: -10; 
}

#home, #concert1, #film, #festival, #tickets, #faq, #thanks{
width:14.2857142857%;
float:left;
height:100%;
max-height: 100%; 
text-align:center;
overflow: hidden;
}

#homeimage {
	position: absolute; 
	height: 75%; 
	width: 100%; 
	background-image: url('../imgs/bblogo1.gif');
	background-repeat: no-repeat; 
	background-position: 50%;
	background-size: auto 150% 	; 
	z-index: 50; 
	
}

#headlineimage {
	width: 100%; 
	height: 90%; 
	background-image: url('../imgs/chance.png');
	background-repeat: no-repeat; 
	background-position: bottom center;
	background-size: contain; 
	position: absolute; 
	bottom:0; 	
	margin: 0;
	padding: 0; 
	
}
#border{
	left: 50%; 
	margin-left: -40%; 
	width:80%; 
	height: 5%; 
	margin-top: 2%; 
	position: fixed; 
	padding-top: .5%; 
	padding-bottom: 1%; 
	padding-left: .5%; 
	padding-right: .5%;
	background: black; 
}
#menu{
	padding-top: .5%; 
	background-color: white; 
	width:80%; 
	height: 5%; 
	font-size: 20pt;  
	position: fixed; 
	z-index: 10000; 
}

.menuwrap {
	height: 17%; 
	width: 100%; 	
	/*background: black; */
	overflow:hidden; 
	
}

.contentwrap {
	height: 80%; 
	width: 80%;
	margin-left: 10%; 
	overflow:auto; 
	position: absolute; 
	bottom: 0;
}
#columns {
	overflow:auto; 
	font-family: audimat;
	height: 80%;

}

.wrapper {
	height: 100%; 
	width: 100%; 
	position: absolute; 
	overflow: hidden; 
}

.footwrap{
	min-height: 70%; 
	max-height: 70%; 
	max-width: 11%; 
	min-width: 11%;
	display: inline-block;
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center center; 
	margin: 0; 
	padding: 0; 
}
#footer{
	position: absolute; 
	bottom: 0; 
	width: 100%;
	height: 10%;
	z-index: 80000; 
}
#date{
	position: absolute; 
	bottom: 10%; 
	z-index: 90000; 
	height: 15%; 
	width: 100%; 
	background-image: url('../imgs/date.png'); 	
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: contain; 
}
#l1{ background-image: url('../imgs/usac.png');}
#l2{ background-image: url('../imgs/asucla.png');}
#l3{ background-image: url('../imgs/cec.png');}
#l4{ background-image: url('../imgs/cac.png');}
#l5{ background-image: url('../imgs/UCLArec.png');}
#l6{ background-image: url('../imgs/ochc.png');}
#l7{ background-image: url('../imgs/spotifylogo.png');}
#l8{
	background-image: url('../imgs/eaf.png');
	height: 100% !important; 
}
.titleHead {
	font-family: loveloblack; 
	font-size: 40px; 
	margin: 0 auto; 
	z-index: 50000; 
	height: 20%; 
}
#leftfilm{
	height: 100%;
	width: 40%; 
	display: inline-block; 
	float:left; 
	margin-left: 5%; 
	background-image: url('../imgs/film1.png');
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center center; 

}
#rightfilm{
	height: 100%;
	width: 40%; 
	display: inline-block; 
	float:right; 
	margin-right: 5%;
	background-image: url('../imgs/film2.png');
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center center; 

}
.title {
	font-family: loveloblack; 
	font-size: 55px; 
	overflow: hidden; 
	height:15%; 	
	width: 100%; 
 
	
}
#tfaq {
	background-image: url('../imgs/titlefaq.png');
	background-size: contain;
	background-position: center center; 
	background-repeat: no-repeat; 
}
#tconcert {
	background-image: url('../imgs/titleconcert.png');
	background-size: contain;
	background-position: top center; 
	background-repeat: no-repeat;
}
#tthanks {
	background-image: url('../imgs/titlethanks.png');
	background-size: contain;
	background-position: top center; 
	background-repeat: no-repeat;
}
#tfestival {
	background-image: url('../imgs/titlefestival.png');
	background-size: contain;
	background-position: top center; 
	background-repeat: no-repeat;
}

#ttickets{
	height: 20%; 	
}

#h {
	background-image: url('../imgs/tchance.png'); 
	background-size: contain; 
	background-position: center center; 
	background-repeat: no-repeat; 
	height: 100%;
	width: 38%; 
	display: inline-block; 
	float:left; 
	margin-left: 0%; 
	position:relative; 
	z-index:2000; 

}
#o {
	background-image: url('../imgs/tkandace.png'); 
	background-size: contain; 
	background-position: center center; 
	background-repeat: no-repeat; 
	height: 100%;
	width: 38%; 
	display: inline-block; 
	float:right; 
	position:relative; 
	z-index: 2000; 
	
}
#h:hover{cursor:pointer;}
#o:hover{cursor:pointer;}
#h.tact{background-image: url('../imgs/tchancea.png');}
#o.tact{background-image: url('../imgs/tkandacea.png');}
.titleHead a {
	margin: 0 60px; 
	font-size: 55px; 
	
}
.titleHead a:hover {
	cursor: pointer; 
}
.tact {
	color: white; 
}
#leftfilm.fact {
	background-image: url('../imgs/film1a.png');
}
#rightfilm.fact {
	background-image: url('../imgs/film2a.png');
}
#leftfilm:hover{
	cursor: pointer; 
}
#rightfilm:hover{
	cursor: pointer; 
}
#higher{
	height: 13%; 

}
#higher2{
	top: 15%; 
}
#star{
	top: 60%; 
	left: 5%; 
	left: 5%; 
	position: absolute; 
	height: 20%; 
	
}

#star:hover{
	cursor: pointer; 
}

#spot {
	height: 20%; 
	left: 	13%; 
	top: 53%; 
	position: absolute; 
}
#spot:hover{
	cursor: pointer; 
}
#eaf{
	margin-top: 10%; 
	font-size: 1.2em; 
}
.info{
	display:none;
	height: 30%; 
	width: 50%; 
	top: 60%; 
	margin-left: auto; 
	margin-right: auto; 
	left: 0; 
	right: 0; 
	background-color: white; 
	border: 8px solid black; 
	margin: 0 auto; 
	z-index: 1000; 
	vertical-align: middle; 
	position: absolute; 
	font-family: audimat; 
	font-size: 1.2em ;
	overflow: auto; 
}
#infotext{
	padding: 2%; 
}
#x {
	float: right; 
	padding: 5px; 
	/*margin-top: -1000px; */
}
#x:hover {
	cursor:pointer; 
}
.txt {
	display: block; 
	position: absolute; 
	font-size: 100%; 
	margin:0 auto; 
	margin-top: 10%;
	text-align: center;
	width: 100%;
	height: 75%;
	
}
#events{
	width: 50%; 
	height: 80%;
	margin-left: -25%;
	display: inline-block ;
}
#e1, #e2, #e3, #e4, #e5, #e6, #e7, #e8 {
	height: 11%; 
	width: 100%; 
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: left left; 
}

#shirtcontainer{
	width: 30%; 
	height: 60%;
	display: inline-block;
	position: absolute; 
	right: 20%; 
	top: 30%;
}
#shirt{
	background-image: url('../imgs/shirt.png'); 
	background-repeat: no-repeat; 
	background-size: contain; 
	background-position: center right; 
	height: 100%;
	width: 75%; 
	display: inline-block; 
	position: absolute; 
}
#buy{
	width: 20%;  
	display: inline-block; 
	top: 65%; 
	right: -30%; 
	position: absolute; 
	

}
#buy:hover{
	cursor: pointer; 
}	
.spacer{
	height: 3%; 
	width: 100%; 
	
}
#e1{background-image:url('../imgs/foodtrucks.png');}
#e2{background-image:url('../imgs/bordergrill.png');}
#e3{background-image:url('../imgs/crepe.png');}
#e4{background-image:url('../imgs/indiajones.png');}
#e5{background-image:url('../imgs/komodo.png');}
#e6{background-image:url('../imgs/kettle.png');}
#e7{background-image:url('../imgs/giveaways.png');}
#e8{background-image:url('../imgs/music.png');}

#tix{
	background-image: url('../imgs/tix.png'); 
	background-size: contain; 
	background-position: center center; 
	background-repeat: no-repeat; 
	height: 100%;
	width: 38%; 
	display: inline-block; 
	float:left; 
	margin-left: 0%; 
	position:relative; 
	z-index:2000; 
}
#spo{
	background-image: url('../imgs/spo.png'); 
	background-size: contain; 
	background-position: center center; 
	background-repeat: no-repeat; 
	height: 100%;
	width: 38%; 
	display: inline-block; 
	float:right; 
	position:relative; 
	z-index: 2000; 
}
#click{

	background-image: url('../imgs/titleticketlink.png'); 
	min-height: 15%; 
	width: 100%; 
	margin: 0 auto; 
	background-repeat: no-repeat; 
	background-size: contain; 
	background-position: center center; 
	
}
#lot{
	background-image: url('../imgs/titleticket.png'); 
	height: 15%;
	width: 100%;
	background-repeat: no-repeat; 
	background-size: contain; 
	background-position: center center; 
		
}
#tickcontent{
	overflow: auto; 
	height: 70%; 
	width: 80%; 
	margin-left: 10%; 
	
}
a{
	
	color:black; 
}
a:visited{
	color: black;
}
#tix:hover { cursor: pointer; }
#spo:hover { cursor: pointer; }
#tix.tickact{ background-image: url('../imgs/tixa.png'); }
#spo.tickact{ background-image: url('../imgs/spoa.png'); }
#expl{
	width: 50%; 
	height: 20%; 
	font-family: audimat; 
	text-align: center; 
	font-size: 1.5em; 
	margin: 0 auto; 
	
}

#spotpic {
	height: 400px; 
	width: 400px;
	display: inline-block; 
	margin: 0 auto; 
	background-image: url('../imgs/spotify.jpg'); 
	background-size: contain;
	background-position: center; 
	background-repeat: no-repeat; 
}
#spotpic:hover{
	cursor: pointer; 
}
#spotlogo {
	height: 60%;
	margin: 0 auto; 
	background-image: url('../imgs/spotify.png'); 
	background-size: contain ;
	background-repeat: no-repeat; 
	background-position: center center; 
}
#margins{
	overflow: hidden; 
	display: block; 
	position: absolute; 
	font-size: 100%; 
	margin-left: 10%;
	margin-right: 10%; 
	text-align: left;
	width: 80%;
	height: 70%;
	overflow: hidden;
}

#topics{
	margin-top: 3%;
	float: left; 
	width: 25%; 

	height: 70%;
	text-align: right; 
	display: inline-block;
	background-image: url('../imgs/divider.png'); 
	background-repeat: no-repeat;
	background-position:center right; 
	overflow: auto; 
	
}
#topics a:hover{
	cursor: pointer;
}

#topics a{
	padding: 20px; 
}
#t1{
	background-image: url('../imgs/faqmustread.png');
	background-repeat: no-repeat;
	background-position:center right; background-size: contain;
}
#t2{
	background-image: url('../imgs/faqconcert.png');
	background-repeat: no-repeat;
	background-position:center right; background-size: contain;
}
#t3{
	background-image: url('../imgs/faqfilm.png');
	background-repeat: no-repeat;
	background-position:center right; background-size: contain;
}
#t4{
	background-image: url('../imgs/faqfestival.png');
	background-repeat: no-repeat;
	background-position:center right; 
	background-size: contain;
}
#t5{
	background-image: url('../imgs/faqgeneral.png');
	background-repeat: no-repeat;
	background-position:center right; 
	background-size: contain;
}
#t1,#t2,#t3,#t4,#t5 {
	width: 90%; 
	height: 15%; 
	
}
#t1:hover{cursor:pointer; }
#t2:hover{cursor:pointer; }
#t3:hover{cursor:pointer; }
#t4:hover{cursor:pointer; }
#t5:hover{cursor:pointer; }
#t1.act{background-image:url('../imgs/faqmustreada.png');} 
#t2.act{background-image:url('../imgs/faqconcerta.png');}
#t3.act{background-image:url('../imgs/faqfilma.png');}
#t4.act{background-image:url('../imgs/faqfestivala.png');}
#t5.act{background-image:url('../imgs/faqgenerala.png');}
#answers {
	width: 55%; 
	height: 70%; 
	display: inline-block ;
	float: left; 
	margin-left: 5%; 
	margin-top: 3%; 
	font-family: audimat; 
	text-align: left; 
	font-size: 100%;
	overflow:auto; 
}

#poster{
	float: left; 
	height: 70%;
	width: 200px; 
	display: inline-block;
	background-image: url('../imgs/ktm.jpg'); 
	background-size: contain; 
	border: 8px black solid; 
	margin-left: 20%; 
	margin-top: 3%; 
}

#synop{
	width: 30%; 
	height: 67%; 
	float: left; 
	display: inline-block;
	background-color: white; 
	border: 8px black solid; 
	font-size: 1.2em; 	
	overflow: auto; 
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 3%; 
 
}
#synop a {
	color: black; 
	text-decoration: none; 
}
.syn {
	font-family: audimat; 
	font-size: 1em; 
	text-align: left; 
	text-align: left; 
	padding-left: 2%; 
	padding-right: 2%; 
}
.topbuff{
	padding-top: 5%; 
}
.column {
	float: left; 
	display: inline-block ;
	width: 30%;
	font-family: audimat; 
	margin-left: 1.5%; 
	margin-right: 1.5%;
	text-align: left; 

}
.column2 {
	float: left; 
	display: inline-block ;
	width: 40%;
	font-family: audimat; 
	margin-left: 10%;
	text-align: left; 
}

.headliner {
	height: 600px; 
	margin-top: 700px; 
}

.leftArrow {
	
	height: 10%;
	left: 1%;
	top: 45%; 
	position: fixed; 
	z-index: 999;  
}
.leftArrow:hover {
	cursor: pointer; 
}
.rightArrow{
	height: 10%; 	
	right: 1%;
	top: 45%; 
	position: fixed; 
	z-index: 999;  
}
.rightArrow:hover{
	cursor: pointer; 
}
ul {
	margin-top: 50px; 
	font-size: 20px; 
	position:fixed;
	top:0;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
}

#menu div {
	height:90%;  
	width: 13.2857142857%;
	margin-left: .5%; 
	margin-right: .5%; 
	float: left; 
	background-size: contain; 
	background-position: center center; 
	background-repeat: no-repeat; 
	

}
#link1{
	background-image: url('../imgs/bb14.png'); 
}
#link2{
	background-image: url('../imgs/concert.png'); 
}
#link3{
	background-image: url('../imgs/film.png'); 
}
#link4{
	background-image: url('../imgs/festival.png'); 
}
#link5 {
	background-image: url('../imgs/tickets.png'); 
}
#link6{
	background-image: url('../imgs/faq.png'); 
}
#link7{
	background-image: url('../imgs/thanks.png'); 
}
#link1:hover{
	background-image: url('../imgs/bb14a.png'); 
}
#link2:hover{
	background-image: url('../imgs/concerta.png'); 
}
#link3:hover{
	background-image: url('../imgs/filma.png'); 
}
#link4:hover{
	background-image: url('../imgs/festivala.png'); 
}
#link5:hover{
	background-image: url('../imgs/ticketsa.png'); 
}
#link6:hover{
	background-image: url('../imgs/faqa.png'); 
}
#link7:hover{
	background-image: url('../imgs/thanksa.png'); 
}
#link1.active{
	background-image: url('../imgs/bb14a.png'); 
}
#link2.active{
	background-image: url('../imgs/concerta.png'); 
}
#link3.active{
	background-image: url('../imgs/filma.png'); 
}
#link4.active{
	background-image: url('../imgs/festivala.png'); 
}
#link5.active{
	background-image: url('../imgs/ticketsa.png'); 
}
#link6.active{
	background-image: url('../imgs/faqa.png'); 
}
#link7.active{
	background-image: url('../imgs/thanksa.png'); 
}
#menu div:hover{
	cursor: pointer; 
}

