@font-face {
    font-family: 'Parade Snoop';
    src: url('../fonts/parade_snoop-webfont.eot');
    src: url('../fonts/parade_snoop-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/parade_snoop-webfont.woff2') format('woff2'),
    url('../fonts/parade_snoop-webfont.woff') format('woff'),
    url('../fonts/parade_snoop-webfont.ttf') format('truetype'),
    url('../fonts/parade_snoop-webfont.svg#parade_lift_snoop') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cocogooseregular';
    src: url('../fonts/cocogoose_trial-webfont.eot');
    src: url('../fonts/cocogoose_trial-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cocogoose_trial-webfont.woff2') format('woff2'),
    url('../fonts/cocogoose_trial-webfont.woff') format('woff'),
    url('../fonts/cocogoose_trial-webfont.ttf') format('truetype'),
    url('../fonts/cocogoose_trial-webfont.svg#cocogooseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media(min-width: 1500px){
    .logoPlacement{  margin-left:13.5%  }
    .icon,.cac{  width:2.5em;  }
    .logos{  width:9em;  }
    .logos1{  width:6em;  }
    #nissan{  width:15em;  }
    #uclarec{  width:12em;  }
}

/* Large desktop */
@media (min-width: 1200px) and (max-width: 1499px) {
    #tag-line{  font-size:35px;  }
    .logoPlacement{  margin-left:9%  }
    .icon,.cac{  width:2.5em;  }
    .logos{  width:9em;  }
    .logos1{  width:6em;  }
    #nissan{  width:15em;  }
    #uclarec{  width:12em;  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 800px) and (max-width: 1199px) {
    .logoPlacement{  margin-left:30%  }
    .logoPlacement2{  margin-left:25%  }
    .icon,.cac{  width:2em;  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 800px) {
    h1{ font-size:25px; }
    h2{ font-size:15px; }
    h3{ font-size:12px; }
    p{ font-size:10px; }
    .logoPlacement{  margin-left:18%  }
    .logoPlacement2{  margin-left:19%  }
    .icon,.cac{  width:2em;  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    h1{ font-size:25px; }
    h2{ font-size:15px; }
    h3{ font-size:12px; }
    p{ font-size:10px; }
    .logoPlacement{  margin-left:14%  }
    .icon,.cac{  width:2em;  }
}

html{
    height:100%;
}

@-webkit-keyframes background-changing {
    0% {background-color:#00FFFF;}
    16.5%{background-color:#E6FFFF; }
    33%{background-color: #FFFFEB;}
    50%{background-color: #FFFF96;}
    66.6%{background-color: #FFFFEB;}
    83%{background-color: #E6FFFF;}
    100%{background-color: #FFFF96;}
}

@keyframes background-changing {
    0% {background-color:#00FFFF;}
    16.5%{background-color:#E6FFFF; }
    33%{background-color: #FFFFEB;}
    50%{background-color: #FFFF96;}
    66.6%{background-color: #FFFFEB;}
    83%{background-color: #E6FFFF;}
    100%{background-color: #FFFF96;}
}

body{
    animation: background-changing 10s linear 0s infinite alternate;
    -webkit-animation: background-changing 10s linear 0s infinite alternate;
    -moz-animation: background-changing 10s linear 0s infinite alternate ;
    margin:0;
    padding:0;
    font-family: cocogooseregular;
    color:black;
}

.icon{ margin:2% 2% 2% 0%; }

.clear-nav, .new-nav {
    padding: 0.25%;
    font-size: 20px;
    font-weight: bold;
    border: 0!important;
}

.clear-nav{  background-color:transparent !important;  }

.new-nav{  background-color: white!important;  }

.navbar-nav > li > a {  color: black!important;  }

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    border-radius: 5px;
    background-color:lightblue !important;
    color: white !important;
}


.buttons{
    margin:20% 3% 20% 3%;
    padding-right:2%;
    width:10%;
    position:fixed;
    cursor:pointer;
}

/*Nav button positioning*/
.top{  top:-30%;  }
.middle{  top:0;  }
.bottom{  top:30%;  }
#logo{
    position:fixed;
    width:10%;
    display:none;
    cursor:pointer;
}

/*Rotating text*/
@-webkit-keyframes right-spin {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes right-spin {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);}
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes right-spin {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);}
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes right-spin {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);}
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating{
    -webkit-animation: right-spin 10s linear 0s infinite;
    -o-animation: right-spin 10s linear 0s infinite;
    animation: right-spin 10s linear 0s infinite;
    transform-origin: 40% 50% 0;
}

/*Triple line*/
.line{border:2px solid #000; width:100%; margin-top:5px;}


/*Triple border*/
.dtborder, .dtborder:before, .dtborder:after{  border:5px solid #000; }

.dtborder {
    position:relative;
    padding:30px;
}
.dtborder:before {
    content:"";
    position: absolute;
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
}

.dtborder:after {
    content:none;
    position: absolute;
    top:15px;
    bottom:15px;
    left:15px;
    right:15px;
}

/*Blank Spacing*/
.lg-buffer, .md-buffer{position:relative; z-index:-1;}
.lg-buffer{ height: 100px; }
.md-buffer{ height:50px; }

/*Random stuff on the splash page*/
#splash-logo{position:relative; top:-20px;}
.container h1{  line-height: 200%;}
.justify-text {  text-align:justify  }

/*FAQ*/
a:hover{ color:white; }
a{color:black; cursor:pointer;}
#faq-answers{  height:300px; overflow:scroll; overflow-x:hidden; }
.first-time{overflow:hidden;}

#faq-answers::-webkit-scrollbar{width:1em;}
#faq-answers::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px white;}
#faq-answers::-webkit-scrollbar-thumb{background-color:black;}

/*Concert Page Stuff*/

#artist-1{
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg);
}

#intro-gif{display:none;position:relative; z-index:10;}

/*Festival*/

