@font-face {
    font-family: 'Parade Snoop';
    src: url('../fonts/parade_snoop-webfont.eot');
    src: url('../fonts/parade_snoop-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/parade_snoop-webfont.woff2') format('woff2'),
    url('../fonts/parade_snoop-webfont.woff') format('woff'),
    url('../fonts/parade_snoop-webfont.ttf') format('truetype'),
    url('../fonts/parade_snoop-webfont.svg#parade_lift_snoop') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Large desktop */
@media (min-width: 1200px) {
    .clock{
        zoom: 1.45;
        -moz-transform: scale(1.45);

    }
    #date{
        font-size: 110px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    .clock {
        zoom: .8;
        -moz-transform: scale(.8);
    }
    #date{
        font-size:80px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .clock{
        zoom: .6;
        -moz-transform: scale(.8);
    }
    #date {
        font-size: 40px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .clock {
        zoom: .5;
        -moz-transform: scale(.6);
    }
    #date {
        font-size:30px;
    }
    #tag-line {
        font-size: 25px;
    }

}

.images{
    position: absolute;
    cursor: pointer;
}

body{
    background:linear-gradient(rgb(145, 216, 239),white,rgb(246, 238, 27));
    font-family:"Parade Snoop", sans-serif !important;
    color:black;
    position:relative;
}

#x{
    position:absolute;
    font-size:40px;
    cursor:pointer;
}

#twok15{
    position:absolute;
    display:none;
}

.clock{
    display:block;
    margin: 0 auto;
    width: 640px;
}

.sm-buffer{
    height:10px;
    width:100%;

}

.large-buffer{
    height:58px;
    width:100%;
}

.bar{
    height:20px;
    width:100%;
    background-color:black;
}


.temp-buffer{
    height:625px;
    width: 100%;
}

.sm-temp-buffer{
    height:250px;
    width: 100%;
}

#social-media {
    height: 100px;
    width: 100%;
    padding: 2%;
    margin-top:1%;
    margin-left:2%;
}

#date{
    text-align:center !important;
}

#tag-line{
    text-align: center !important;
}

.main{
    display:none;
}

#logo{
    cursor: pointer;
    display:block;
    margin-top:1.5%;
    margin-right:auto;
    margin-left:auto;
}



