@font-face {
    font-family: 'Parade Snoop';
    src: url('../fonts/parade_snoop-webfont.eot');
    src: url('../fonts/parade_snoop-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/parade_snoop-webfont.woff2') format('woff2'),
    url('../fonts/parade_snoop-webfont.woff') format('woff'),
    url('../fonts/parade_snoop-webfont.ttf') format('truetype'),
    url('../fonts/parade_snoop-webfont.svg#parade_lift_snoop') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Large desktop */
@media (min-width: 1200px) {
    .clock{
        zoom: 1.45;
        -moz-transform: scale(1.45);

    }
    #date{
        font-size: 110px;
    }
    .flag-pole {
        height: 625px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    .clock {
        zoom: .8;
        -moz-transform: scale(.8);
    }
    #date{
        font-size:80px;
    }
    .flag-pole {
        height: 625px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .clock{
        zoom: .6;
        -moz-transform: scale(.8);
    }
    #date {
        font-size: 40px;
    }
    .flag-pole {
        top:10px;
        height: 250px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .clock {
        zoom: .5;
        -moz-transform: scale(.6);
    }
    #date {
        font-size:30px;
    }
    #tag-line {
        font-size: 25px;
    }
    .flag-pole {
        top:10px;
        height: 250px;
    }
}

body{
    background-color:white;
    font-family:"Parade Snoop", sans-serif !important;
    color:black;
}

.clock{
    display:block;
    margin: 0 auto;
    width: 690px;
}

.sm-buffer{
    height:10px;
    width:100%;

}

.large-buffer{
    height:58px;
    width:100%;
}

.bar{
    height:20px;
    width:100%;
    background-color:black;
}
#top, #bottom, #left, #right {
    background: black;
    position: fixed;
}
#left, #right {
    top: 0; bottom: 0;
    width: 15px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }

.temp-buffer{
    height:625px;
    width: 100%;
}

.sm-temp-buffer{
    height:250px;
    width: 100%;
}

#social-media {
    height: 100px;
    width: 100%;
    padding: 2%;
    margin-bottom: 3%;
}

#flag {
    margin-bottom: 3%;
}

#date{
    text-align:center !important;
}

#tag-line{
    text-align: center !important;
}



.enter{
    /*background-color:black;*/
    height:250px;
    width:350px;
    position:absolute;
    z-index:3;
    cursor:pointer;
}

.main{
    display:none;
}

#flag-pole {
    position: absolute;
    z-index: 2;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

#slideshow{
    position: absolute;
    z-index:1;
    height:200px;
    width:auto;
}

/* slideshow */
.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .3s;
    -o-transition: opacity ease-in-out .3s;
    -webkit-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .3s;
    -o-transition: opacity ease-in-out .3s;
    -webkit-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s;
    z-index:2;
}

.bbash {
    display:none;
    margin-right:auto;
    margin-left:auto;
}
.slideshow-img {
    margin-right:auto;
    margin-left:auto;
}

